header nav div {
  background-color: #9a9ad8;
  height: 100px; }

footer {
  margin: 5em auto 0 auto;
  width: 100%;
  background-color: #9a9ad8;
  height: 5em; }
  footer a {
    text-decoration: none; }

main .h1Index {
  color: #8888b3;
  margin: 1em auto; }

main img {
  border: 1px solid gray;
  border-radius: 5px; }

main p {
  margin: 2em auto;
  width: 750; }

main h1 {
  color: green;
  margin: 2em auto; }

main div h3 {
  margin: 2em auto; }

main div div {
  margin: 25px auto; }

main h1 {
  color: green;
  margin: 2em auto; }

main .forms {
  width: 70%;
  border: 1px solid gray;
  border-radius: 8px; }
