
main{
    .h1Index{
        color: rgb(136, 136, 179);
        margin: 1em auto;
    }
    img{
        border: 1px solid gray;
        border-radius: 5px;
    }
    p{
        margin: 2em auto;
        width: 750;
    }

}